01-Fundamentos/sessao4-js-DOM-eventos-web-storage/02-DOM-elements/exer-calendario/sd-032-b-exercise-tryber-calendar
01-Fundamentos/sessao4-js-DOM-eventos-web-storage/02-DOM-elements/exer-calendario/sd-032-b-exercise-tryber-calendar
01-Fundamentos/sessao5-forms-flexbox-responsivo/01-Forms/exercicio/sd-032-b-exercise-travel-form
01-Fundamentos/sessao4-js-DOM-eventos-web-storage/05- pixels-Art/sd-032-b-project-pixels-art
