h1 {
    text-align: center;
  }

  .first {
    background-color: rgb(235, 200, 84);
    font-size: 20px;
    height: 50px;
    text-align: center;
    width: 200px;
    position:absolute;
    left: 820px;
    display: block;
  }

  .second {
    background-color: rgb(219, 219, 219);
    font-size: 20px;
    height: 50px;
    text-align: center;
    width: 300px;
    display: inline-block;
    position:absolute;
    left: 620px;
    top: 130px;
  }

  .third {
    background-color: rgb(170, 142, 106);
    font-size: 20px;
    height: 50px;
    text-align: center;
    width: 300px;
    display: inline-block;
    position:absolute;
    left: 923px;
    top: 130px;    
  }

  .premiacao {    
    position: absolute;
    left: 530px;
    top: 200px;
  }

  .premiacao li {
    display: inline-block;
    font-size: 18px;   
  }

  .premiacao h3 {
    text-align: center;
  }